@using EngLang
@using EngLang.LanguageConversion
@if (CompilerError != null)
{
    <div class="alert alert-danger">
        @CompilerError
    </div>
}
<pre>
    @CompiledOutput
</pre>
@code {

    [Parameter]
    public string? SourceCode { get; set; }
    [Parameter]
    public string? Language { get; set; }

    private string? CompiledOutput { get; set; }
    private string? CompilerError { get; set; }

    protected override void OnParametersSet()
    {
        try
        {
            CompilerError = null;
            if (SourceCode == null)
            {
                CompiledOutput = string.Empty;
                return;
            }

            var converter = CreateConverter();
            var parseResult = EngLangParser.Parse(SourceCode);
            CompiledOutput = converter.Convert(parseResult);
        }
        catch (Exception ex)
        {
            CompilerError = ex.ToString();
        }
    }

    private ILanguageConverter CreateConverter()
    {
        if (Language == "js")
        {
            return new JavaScriptConverter();
        }

        return new CSharpConverter();
    }
}
