<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Workbench</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link px-3 mx-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3 mx-3" href="arithmetics">
                <span class="oi oi-plus" aria-hidden="true"></span> Arithmetics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3 mx-3" href="statements">
                <span class="oi oi-plus" aria-hidden="true"></span> Statements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3 mx-3" href="functions">
                <span class="oi oi-plus" aria-hidden="true"></span> Functions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3 mx-3" href="variables">
                <span class="oi oi-plus" aria-hidden="true"></span> Variables
            </NavLink>
        </div>
        <div class="nav-item px-3 mx-3">
            <NavLink class="nav-link" href="parser">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parser
            </NavLink>
        </div>
        <div class="nav-item px-3 mx-3">
            <NavLink class="nav-link" href="parser/simple">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Parser
            </NavLink>
        </div>
        <div class="nav-item px-3 mx-3">
            <NavLink class="nav-link" href="parsing">
                <span class="oi oi-plus" aria-hidden="true"></span> Parsing
            </NavLink>
        </div>
        <div class="nav-item px-3 mx-3">
            <NavLink class="nav-link" href="nlp">
                <span class="oi oi-plus" aria-hidden="true"></span> NLP
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
