@using Blazorise.TreeView
@using EngLang
@using EngLang.LanguageConversion
@if (CompilerError != null)
{
    <div class="alert alert-danger">
        @CompilerError
    </div>
}
<AstView SyntaxNodes="SyntaxNodes"></AstView>

@code {

    [Parameter]
    public string? SourceCode { get; set; }
    [Parameter]
    public string? Language { get; set; }

    private SyntaxNode? SyntaxNode { get; set; }

    private IEnumerable<SyntaxNode> SyntaxNodes => SyntaxNode is null ? Array.Empty<SyntaxNode>() : new[] { SyntaxNode };

    private string? CompilerError { get; set; }

    protected override void OnParametersSet()
    {
        try
        {
            CompilerError = null;
            if (SourceCode == null)
            {
                SyntaxNode = null;
                return;
            }

            SyntaxNode = EngLangParser.Parse(SourceCode);
        }
        catch (Exception ex)
        {
            CompilerError = ex.ToString();
        }
    }
}
