@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex flex-sm-column flex-xl-row">
    <div class="w-100 pe-3">
        <label for="source-code" class="form-label">Source code:</label>
        <textarea name="source-code" @bind="SourceCode" class="form-control"></textarea>
        
        <h1>Samples:</h1>
        <Sample Title="Variable declarations" Code="@VariableDeclarationSample" OnTryCallback="Try" />
        <Sample Title="Factorial" Code="@FactorialSample" OnTryCallback="Try" />
    </div>
    <div class="w-100">
        <select @bind="Language" class="form-control">
            <option value="csharp">C#</option>
            <option value="js">JS</option>
        </select>
        <Compiler SourceCode="@SourceCode" Language="@Language" />
    </div>
</div>

@code {
    private string? SourceCode { get; set; }
    private string? Language { get; set; } = "csharp";

    private string VariableDeclarationSample = @"let a value equals 10.
add 20 to a value.
multiply a value by 42.";

    private string FactorialSample = @"if a number is 0 then result is 1.
if a number is 1 then result is 1.
let a previous number is a number minus 1.
calculate factorial of a previous number into a previous factorial.
result is a previous factorial multiply a number.";

    private void Try(SampleEventArgs args)
    {
        this.SourceCode = args.SampleCode;
    }
}
