@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex flex-sm-column flex-xl-row">
    <div class="w-100 pe-3">
        <label for="source-code" class="form-label">Source code:</label>
        <textarea name="source-code" @bind="SourceCode" class="form-control"></textarea>
        
        <WellKnownSamples OnTryCallback="@Try" />
    </div>
    <div class="w-100">
        <select @bind="Language" class="form-control">
            <option value="csharp">C#</option>
            <option value="js">JS</option>
        </select>
        <Compiler SourceCode="@SourceCode" Language="@Language" />
    </div>
</div>

@code {
    private string? SourceCode { get; set; }
    private string? Language { get; set; } = "csharp";

    private void Try(SampleEventArgs args)
    {
        this.SourceCode = args.SampleCode;
    }
}
